@import url("https://use.typekit.net/ius6gqc.css");

$red-dog: #FF0202;
$black-dog: #000000;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//General styling
.element {
  @include clearfix;
}

//header elements
header{
  background-color: $red-dog;
  height: 128px;
}

header h1, header p{
  font-family: "prohibition";
  color: white;
}

header h1 {
  font-size: 6em;
}

header hr {
  border-color: white;
  border-width: .3em;
}

header p{
  font-size: 2em;
}

.header-text {
  color: $black-dog;
}

//Nav elements
.sidenav{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  background-color: $red-dog;
  color: white;
  font-family: "prohibition";
  font-size: 3em;
}

.nav>.row {
  margin-left: 0px;
  padding: 0;
}

.nav-item {
  padding: 0;
  text-align: center;
  border-bottom: 5px solid white;
}

.lights {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid white;
}

.light {
  border-left: 5px solid white;
  margin: 0;
  width: 33.33%
}

#login, #bikes, #parts, #serivces, #rescue {
  border-top: 0;
  border-bottom: 5px solid white;
}


// Main Content Area
main {
  margin-top: 10px;
  overflow: scroll;
}

p, figcaption {
  font-family: "industry"
}


.figure {
  margin-bottom: .5rem;
  padding: 0
}

figcaption {
  font-weight: 600;
}

section {
  margin-bottom: 1em;
  // padding-left: 10px;
  // padding-right: 10px;
}
