@import url("https://use.typekit.net/ius6gqc.css");

$red-dog: #FF0202;
$black-dog: #000000;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//General styling
.element {
  @include clearfix;
}

//header elements
header{
  background-color: $red-dog;
  height: 128px;
  font-family: "prohibition";
}

header h1{
  color: white;
  font-size: 6em;
  margin: auto;
  // cursor: pointer;
}

h1 {
   a{
     text-decoration: none;
     color: inherit;
     &:hover {text-decoration: none;
              color: inherit;}
   }
}

header hr {
  border-color: white;
  border-width: .3em;
  margin: 0;
}

#address p{
  font-family: "prohibition";
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0;
}

#address {
  // padding-top: .5em;
  margin: auto;
}

.header-text {
  color: $black-dog;
}

//Nav elements
.sidenav{
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  background-color: $red-dog;
  color: white;
  font-family: "prohibition";
  font-size: 3em;
}

.nav>.row {
  margin-left: 0px;
  padding: 0;
}

.nav-item {
  padding: 0;
  text-align: center;
  border-bottom: 5px solid white;
}

#login, #bikes, #parts, #service, #rescue {
  border-top: 0;
  border-bottom: 5px solid white;
  cursor: pointer;
}

.lights {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid white;
}

.item_selected {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid white;
  background-color: $black-dog;
}

.light {
  border-left: 5px solid white;
  margin: 0;
  width: 33.33%
}

.contact_info{
  font-size: 1rem;
  background-color: $black-dog;
  color: white;
  padding: 1rem;
  margin: 1rem;
  overflow-x: auto;

}

//Aside Area
aside {
  font-family: "prohibition";
  font-size: 1.5em;
  color: $black-dog;
}

// Main Content Area
main {
  padding-top: 10px;
  font-family: "industry"
}

main h3 {
  font-family: "prohibition";
  font-size: 2rem;
  margin-bottom: 0;
}

main p {
  font-family: "industry";
  font-size: 1rem;
  margin-bottom: 0;
}

#main_content {
  padding-bottom: 2rem;
}

.form-row, .form-group, .custom-file {
  margin-bottom: 1rem;
}

.form-row label, .form-group label {
  margin-bottom: .125rem;
}

.btn-dark {
  background-color: $black-dog;
  font-family: "prohibition";
}

.btn-danger {
  background-color: $red-dog;
  font-family: "prohibition";
}

.figure {
  font-family: "industry";
  font-weight: 600;
}

figure img {
  // object-fit: cover;
}

section {
  margin-bottom: 1em;
  // padding-left: 10px;
  // padding-right: 10px;
}
